/*
app variables
*/

:root {
  /* font */
  --main-font: "Century Gothic", Futura, sans-serif;

  /* tictactoe dimensions */
  --tictactoe-height: 72%;
  --tictactoe-width: 36%;
  --tictactoe-margin-left: 20px;
}

/*
app CSS reset
*/
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
